<header class="ba-header-wrap">
	<div class="ba-header-header ba-header">
		<button class="menu-icon dark hide-for-medium" type="button" data-open="offCanvas" aria-label="Show menu">
		</button>

		<nav class="ba-header__nav show-for-medium">
			<ul class="menu ba-main-menu show-for-medium row">
				<li class="column large-3"><a href="#intro">Home</a></li>
				<li class="column large-3"><a href="index.html">Products</a></li>
				<li class="column large-3"><a href="index.html">FAQs</a></li>
				<li class="column large-3"><a href="index.html">Contact Us</a></li>
			</ul>
		</nav>

		<div class="ba-header__logo">
			<a href="index.html">
				<img src="{{root}}assets/img/logo.png" alt="Logo">
			</a>
		</div>

		<nav class="ba-header__menu text-center show-for-medium">
			<ul class="row">
				<li class="large-4"><a href="#">Login</a></li>
				<li class="large-4"><a href="#">
						<svg class="ba-header__searcsvg" xmlns="http://www.w3.org/2000/svg" width="21" height="20">
							<defs>
								<filter id="a">
									<feFlood flood-color="#FFF" flood-opacity="1" result="floodOut" />
									<feComposite operator="atop" in="floodOut" in2="SourceGraphic" result="compOut" />
									<feBlend in="compOut" in2="SourceGraphic" />
								</filter>
							</defs>
							<g filter="url(#a)">
								<path fill-rule="evenodd"
									d="M19.844 18.98l-4.859-4.861c1.303-1.498 2.093-3.454 2.093-5.592 0-4.704-3.827-8.528-8.527-8.528C3.847-.001.025 3.827.025 8.527c0 4.701 3.826 8.528 8.526 8.528 2.137 0 4.093-.789 5.591-2.093l4.86 4.86c.115.115.27.178.421.178.151 0 .306-.058.421-.178.231-.23.231-.612 0-.842zM1.218 8.527c0-4.044 3.29-7.33 7.329-7.33 4.044 0 7.329 3.291 7.329 7.33 0 4.04-3.285 7.335-7.329 7.335-4.039 0-7.329-3.29-7.329-7.335z" />
							</g>
						</svg>

						Search</a>
				<li class="large-4"><a href="#">Cart</a></li>
			</ul>
		</nav>
		<!-- /.ba-header__menu -->
	</div>
</header>